* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  height: 800px;
  width: 1280px;
  overflow: hidden;
}
.v2_18 {
  width: 100%;
  height: 720px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.home_bg {
  width: 1280px;
  height: 720px;
  background: rgba(13,13,13,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 5,
  'opsz' 48;
}

/* DAILY FORECAST WIDGET */
.daily_group {
  width: 100%;
  height: 259px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 453px;
  left: 53px;
  overflow: hidden;
}
.group_bg_daily {
  width: 1219px;
  height: 259px;
  background: rgba(0,86,215,1);
  opacity: 0.4;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.widget_daily_6 {
  width: 165px;
  height: 243px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 1046px;
  overflow: hidden;
}
.widget_daily_5 {
  width: 165px;
  height: 243px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 873px;
  overflow: hidden;
}
.widget_daily_4 {
  width: 165px;
  height: 243px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 700px;
  overflow: hidden;
}
.widget_daily_3 {
  width: 165px;
  height: 243px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 527px;
  overflow: hidden;
}
.widget_daily_2 {
  width: 165px;
  height: 243px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 354px;
  overflow: hidden;
}
.widget_daily_1 {
  width: 165px;
  height: 243px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 181px;
  overflow: hidden;
}
.widget_daily_0 {
  width: 165px;
  height: 243px;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.bg_daily {
  width: 165px;
  height: 243px;
  background: rgba(217,217,217,0.05999999865889549);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.wind_daily {
  width: 140px;
  height: 30px;
  opacity: 1;
  position: absolute;
  top: 205px;
  left: 10px;
  overflow: hidden;
}
.wind_value_daily {
  width: 110px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3.5px;
  left: 27px;
  font-family: Inter;
  font-weight: Normal;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
#wind_icon_daily {
  width: 14px;
  height: 12px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  color: white;
}
.rain_daily {
  width: 60px;
  height: 30px;
  opacity: 1;
  position: absolute;
  top: 175px;
  left: 10px;
}
#rain_icon_daily {
  opacity: 1;
  position: absolute;
  height: 20px;
  width: 20px;
  left: 0px;
  top: 3px;
  color: lightseagreen;
}
.rain_value_daily {
  width: 24px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 6px;
  left: 27px;
  font-family: Inter;
  font-weight: Normal;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.hilo_daily {
  width: 86px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 145px;
  left: 41px;
  font-family: Inter;
  font-weight: Normal;
  font-size: 21px;
  opacity: 1;
  text-align: center;
}
.condition_text_daily {
  width: 165px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 117px;
  left: 0px;
  font-family: Inter;
  font-weight: Normal;
  font-size: 19px;
  opacity: 1;
  text-align: center;
}
.condition_graphic_container_daily {
  width: 100px;
  height: 80px;
  top: 37.5px;
  left: 32.5px;
  position: absolute;
}
.condition_graphic_daily {
  position: absolute;
  left: 22.5px;
  top: 12.5px;
}
.date_daily {
  width: 165px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 0px;
  font-family: Inter;
  font-weight: Normal;
  font-size: 19px;
  opacity: 1;
  text-align: center;
}

/* ALERT WIDGET */
#widget_alert {
  width: 314px;
  height: 109px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 336px;
  left: 958px;
  overflow: hidden;
}
#bg_alert {
  width: 314px;
  height: 109px;
  background: rgba(15,21,54,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0px solid rgba(255,255,255,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
#header_alert {
  width: 268px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 7px;
  left: 38px;
  font-family: Inter;
  font-weight: Normal;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
#icon_alert {
  width: 30px;
  height: 30px;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 8px;
  color: white;
}
#body_alert {
  width: 307px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 41px;
  left: 6px;
  font-family: Inter;
  font-weight: Normal;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
#source_alert {
  width: 272px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 83px;
  left: 6px;
  font-family: Inter;
  font-weight: Normal;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}

/* NAV WIDGET */
.widget_nav {
  width: 45px;
  height: 720px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.menu_icon {
  opacity: 1;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 8px;
  left: 8px;
}
.nav_bar {
  width: 45px;
  height: 720px;
  background: rgba(39,39,39,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.widget_pressure {
  width: 138px;
  height: 109px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 336px;
  left: 812px;
  overflow: hidden;
}
.v8_213 {
  width: 138px;
  height: 109px;
  background: rgba(15,21,54,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v8_219 {
  width: 85px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 9px;
  left: 8px;
  font-family: Inter;
  font-weight: Normal;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}

/* HUMIDITY WIDGET */
.widget_humidity {
  width: 138px;
  height: 109px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 336px;
  left: 666px;
  overflow: hidden;
}
.v8_211 {
  width: 138px;
  height: 109px;
  background: rgba(15,21,54,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v8_218 {
  width: 85px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 9px;
  left: 8px;
  font-family: Inter;
  font-weight: Normal;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}

/* WIND WIDGET */
.widget_wind {
  width: 138px;
  height: 109px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 336px;
  left: 520px;
  overflow: hidden;
}
.v8_196 {
  width: 138px;
  height: 109px;
  background: rgba(15,21,54,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v8_217 {
  width: 85px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 9px;
  left: 9px;
  font-family: Inter;
  font-weight: Normal;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}

/* UV WIDGET */
.widget_uv {
  width: 138px;
  height: 109px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 336px;
  left: 374px;
  overflow: hidden;
}
.widget_uv_bg {
  width: 138px;
  height: 109px;
  background: rgba(15,21,54,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.widget_uv_graphic_1 {
  color: #fff;
}
.widget_uv_graphic_2 {
  color: #fff;
}
.v8_201 {
  width: 31px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 40px;
  left: 11px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 19px;
  opacity: 1;
  text-align: left;
}
.v8_204 {
  width: 8px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 84px;
  left: 95px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 11px;
  opacity: 1;
  text-align: center;
}
.v8_207 {
  width: 18px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 21px;
  left: 90px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 11px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v8_200 {
  width: 60px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 9px;
  left: 8px;
  font-family: Inter;
  font-weight: Normal;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v8_202 {
  width: 22px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 62px;
  left: 8px;
  font-family: Inter;
  font-weight: Normal;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.widget_sun {
  width: 313px;
  height: 109px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 336px;
  left: 53px;
  overflow: hidden;
}
.v8_215 {
  width: 313px;
  height: 109px;
  background: rgba(15,21,54,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v8_220 {
  width: 120px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 9px;
  left: 9px;
  font-family: Inter;
  font-weight: Normal;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}

/* NOW WIDGET */
.widget_now {
  width: 307px;
  height: 166px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 162px;
  left: 965px;
  overflow: hidden;
}
.v8_237 {
  width: 307px;
  height: 166px;
  background: rgba(15,21,54,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v8_238 {
  width: 90px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 131px;
  left: 186px;
  font-family: Inter;
  font-weight: Normal;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v8_243 {
  width: 104px;
  color: rgba(208,224,255,1);
  position: absolute;
  top: 111px;
  left: 173px;
  font-family: Inter;
  font-weight: Normal;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v8_240 {
  width: 120px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 84px;
  left: 7px;
  font-family: Inter;
  font-weight: Normal;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v8_242 {
  width: 104px;
  color: rgba(208,224,255,1);
  position: absolute;
  top: 20px;
  left: 11px;
  font-family: Inter;
  font-weight: Normal;
  font-size: 60px;
  opacity: 1;
  text-align: left;
}
.v8_241 {
  width: 36px;
  color: rgba(208,224,255,1);
  position: absolute;
  top: 9px;
  left: 10px;
  font-family: Inter;
  font-weight: Normal;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v8_246 {
  width: 91px;
  height: 75px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 186px;
  overflow: hidden;
}
.v8_247 {
  width: 54px;
  height: 54px;
  background: rgba(218,195,114,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 20px;
  border-radius: 50%;
}
.v8_248 {
  width: 34px;
  height: 34px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 0px;
  border-radius: 50%;
}
.v8_249 {
  width: 42px;
  height: 42px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 49px;
  border-radius: 50%;
}
.v8_250 {
  width: 54px;
  height: 54px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 12px;
  border-radius: 50%;
}
.v8_251 {
  width: 58px;
  height: 20px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 55px;
  left: 15px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow: hidden;
}

/* HOURLY FORECAST WIDGET */
.hourly_group {
  width: 904px;
  height: 166px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 162px;
  left: 53px;
  overflow: hidden;
}
.group_bg_hourly {
  width: 904px;
  height: 166px;
  background: rgba(0,86,215,1);
  opacity: 0.4000000059604645;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.widget_hourly_6 {
  width: 120px;
  height: 150px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 776px;
  overflow: hidden;
}
.widget_hourly_5 {
  width: 120px;
  height: 150px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 648px;
  overflow: hidden;
}
.widget_hourly_4 {
  width: 120px;
  height: 150px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 520px;
  overflow: hidden;
}
.widget_hourly_3 {
  width: 120px;
  height: 150px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 392px;
  overflow: hidden;
}
.widget_hourly_2 {
  width: 120px;
  height: 150px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 264px;
  overflow: hidden;
}
.widget_hourly_1 {
  width: 120px;
  height: 150px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 136px;
  overflow: hidden;
}
.widget_hourly_0 {
  width: 120px;
  height: 150px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.bg_hourly {
  width: 120px;
  height: 150px;
  background: rgba(217,217,217,0.05999999865889549);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.condition_graphic_container_hourly {
  opacity: 1;
  width: 72px;
  height: 72px;
  left: 24px;
  top: 45px;
  position: absolute;
}
.condition_graphic_hourly {
  opacity: 1;
  left: 2.5px;
  top: 8.5px;
  position: absolute;
}
.time_hourly {
  width: 96px;
  height: 25px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 117.5px;
  left: 12px;
  font-family: Inter;
  font-weight: Normal;
  font-size: 21px;
  opacity: 1;
  text-align: center;
}
.temp_hourly {
  width: 80px;
  height: 28px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 15px;
  left: 20px;
  font-family: Inter;
  font-weight: Normal;
  font-size: 27px;
  opacity: 1;
  text-align: center;
}

/* SEARCH WIDGET */
.widget_search {
  width: 380px;
  height: 60px;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 55px;
  left: 860px;
  overflow: hidden;
  font-family: Inter;
}
.widget_search input[type=text] {
  float: left;
  position: absolute;
  font-size: 20px;
  top: 17px;
  left: 30px;
  margin-left: 5px;
  width: 310px;
  border: none;
  background-color: transparent;
  font-family: Inter;
  color: white;
  &:focus {
    outline: none;
    color: white;
   }
}
#search_bg {
  width: 340px;
  height: 40px;
  background: black;
  border: 1px solid white;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 20px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.widget_location_display {
  width: 572px;
  height: 103px;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 74px;
  overflow: hidden;
}
#location_text {
  width: 700px;
  height: 100px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 35px;
  left: 74px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 70px;
  opacity: 1;
  text-align: left;
}
